* {
	font-size: 1em;
}

.row-centered {
	text-align:center;
}

.col-centered {
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4px;
}

/* header stuff */

.header {
	background-color:black;
}

.header-text {
	font-size: 4em;
	color:#00ff00;
	position:absolute;
	bottom:0px;
}

@media screen and (min-width: 990px) {
	.header-text-container {
		height:20em;
		position:relative;
	}
}

@media screen and (max-width: 990px) {
	.header-text-container {
		height:6em;
		position:relative;
	}
}

#animated-bars {
	height:20em;
	width:100%;
}

.navbar {
	background-color:black;
	background-image:none;
	border:none;
	border-radius:0px;
	font-size:1.25em;
}

.navbar .navbar-nav > li > a {
	color: white;
	text-shadow:none;
}
.navbar .navbar-nav > li > a {
	    color: white;
    }
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
        color: #00ff00;
	background-color:black;
}
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
	color: black;
	background-color: #00ff00;
}

.glyphicon {
	color:white;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
	color: #00ff00;
	text-shadow:none;
	font-size:1.25em;
}

/* performance page */

.well {
	background: #d1ffd1;
	padding-top: 0px;
}

.performance-title {
	color:#009900;
}
