* {
	font-size: 1em;
}

.row-centered {
	text-align:center;
}

.col-centered {
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4px;
}

.header {
	height:20em;
	background-color:black;
	position:relative;
}

.header-text {
	font-size: 4em;
	color:#00ff00;
	position:absolute;
	bottom:0px;
}

#animated-bars {
	height:20em;
}

.well {
	background: #ccffcc;
}

.navbar {
	background-color:black;
	background-image:none;
	border:none;
	border-radius:0px;
}

.navbar .navbar-nav > li > a {
	color: white;
	text-shadow:none;
}
.navbar .navbar-nav > li > a {
	    color: white;
    }
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
        color: #00ff00;
	background-color:black;
}
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
	color: black;
	background-color: #00ff00;
}

.glyphicon {
	color:white;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
	color: #00ff00;
	text-shadow:none;
}
