{% extends 'theechoes/base.html' %}
{% load getattribute %}

{% block content-header %}
Upcoming Performances
{% endblock %}

{% block content %}

	{% for performance in performances %}

	<div class="well row">

		<h3 class="performance-title">{{ performance }}</h5>

		{% for field in fields %}
			{% if field.verbose_name != 'ID' %}
				<div class="col-xs-2">
					<strong>{{ field.verbose_name }}</strong>
				</div>

				<div class="col-xs-10">
					{{ performance|getattribute:field }}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	{% endfor %}



{% endblock %}
